.vscode
/assets/css/bootstrap-slider.min.css
/assets/css/bootstrap.min.css
/assets/css/bootstrap.min.css.map
/assets/css/
/assets/font-awesome-4.7.0/
/assets/fonts/
/assets/images/profiles/
/assets/images/products/