body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
}

.left {
  width: 20vw;
  height: 100vh;
  background: #2c3e50;
  color: #fff;
  position: fixed;
}

.right {
  width: 80vw;
  height: 100vh;
  background: #ecf0f1;
  position: absolute;
  left: 20vw;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #3498db;
}

h1 {
  text-align: center;
  color: #fff;
  padding: 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 0px 0px 10px 10px;
}

.right h1 {
  color: #000 !important;
}

.card {
  width: 200px;
  height: 150px;
  background: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.card p {
  margin: 0;
  padding: 20px 0px;
  font-size: 20px;
}

button {
  background: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button a:hover {
  color: #fff;
}

table {
  width: 70vw;
  border-collapse: collapse;
  overflow-x: hidden;
}

tr,
td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3498db;
  color: white;
  max-width: 25%;
}

td a {
  color: #2c3e50;
  display: flex;
  flex-direction: column;
}
form {
  width: 400px; /* set width of the form */
  margin: 0 auto; /* center the form */
  padding: 30px; /* add padding to the form */
}
.form-control {
  width: 100%;
  /* padding: 12px;  */
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
}
.form-control:focus {
  /* add a blue border to the input field when it is focused */
  border: 2px solid #3498db;
}
input[type="submit"] {
  /* add a green background to the submit button */
  background-color: #2ecc71;
  color: #fff;
  cursor: pointer;
}
input {
  width: 100%;
  padding: 12px 20px;
  /* margin: 8px 0; */
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input:focus {
  border-color: #3498db;
}
