body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
}

.left {
  width: 20vw;
  height: 100vh;
  background: #2c3e50;
  color: #fff;
}

.right {
  width: 80vw;
  height: 100vh;
  background: #ecf0f1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #3498db;
}

h1 {
  text-align: center;
  color: #fff;
  padding: 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 0px 0px 10px 10px;
}

.right h1 {
  color: #000 !important;
}

.card {
  width: 200px;
  height: 150px;
  background: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.card p {
  margin: 0;
  padding: 20px 0px;
  font-size: 20px;
}

button {
  background: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button a:hover {
  color: #fff;
}

table {
  width: 70vw;
  border-collapse: collapse;
  overflow-x: hidden;
}

tr,
td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3498db;
  color: white;
  max-width: 25%;
}

td a {
  color: #2c3e50;
  display: flex;
  flex-direction: column;
}
